.htaccess
.htaccess-*
wp-config.php
readme.html
license.txt
wp-snapshots
wp-content/uploads/*
wp-content/themes/twentyfourteen
wp-content/themes/twentyfifteen
wp-content/themes/twentysixteen
wp-content/themes/twentyseventeen
wp-content/themes/twentyeighteen
wp-content/themes/twentynineteen
wp-content/plugins/fakerpress
package-lock.json
node_modules/*
**/.DS_Store
**/debug.log
docs.txt